@charset "UTF-8";

html {
  font-size: 100%;
  font-family:"Hiragino Kaku Gothic ProN","メイリオ","Hiragino Sans",sans-serif;
}

body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  color: #121212;  
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  line-height: 1px;

  a {
    display: block;
  }
}

.sec-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.fade-in { // ブラウザスクロールでfeatureの画像下あたりが出終わると画像がフワッと表示
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.fade-in.active { // ブラウザスクロールでfeatureの画像下あたりが出終わると画像がフワッと表示
  transform: translateY(0);
  opacity: 1;
}


/* -------------------------------------------------
Header
--------------------------------------------------*/
#header { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  
  .site-title { // メインタイトル Sneakers
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 20;

    a {
      display: block;
    }
  }

  #navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: #121212;
    overflow-x: hidden;  // 横にハミ出た箇所を隠す
    overflow-y: auto;  // 縦にハミ出た箇所を自動（規定はスクロールバー表示）
    transition: all .5s;
    z-index: 20;
    // opacity: 0;

    a {
      color: #fff;
    }

    &.open {
      left: 0;
      opacity: 1;
    }

    ul {
      margin: 0;
      padding: 0;

      &.nav-menu {
        margin-bottom: 60px;
        border-top: solid 1px #fff; // 2つ下のボーダと被ってる？
      }
    }

    .nav-menu li {
      border-bottom: 1px solid #fff;
      padding: 20px 0;

      // &:first-child {
      //   border-top: 1px solid #fff;
      // }
    }

    .nav-sns li {
      padding: 5px 0;
    }
  }

  .hamburger-menu {
    display: block;
    position: fixed; // fixedから変えてみた
    top: 25px;
    right: 45px;
    // margin: 25px 45px 0 auto;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;

    span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #333;
      border-radius: 4px;
      transition: all .5s;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        bottom: 4px;
      }

    }
  }
  
   .hamburger-menu.open span {
    background-color: #fff;

    &:nth-child(1) {
      transform: translateY(10px) rotate(-315deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-10px) rotate(315deg);
    }
  }

  #mask {
    display: none;
    transition: all .5s;

    &.open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.8;
      z-index: 10;
      cursor: pointer;
    }
  }
}

/* -------------------------------------------------
Main
--------------------------------------------------*/
.main {
  padding-top: 80px;
}

/* -------------------------------------------------
Video
--------------------------------------------------*/
.bg-video {
  width: 100%;
}

/* -------------------------------------------------
Pick Up
--------------------------------------------------*/
#pickup {
  // width: 100%;
  padding: 100px 0 50px;

  .slick-area { // スライダーは最初縦長なのでリロードをすると一瞬その時の表示が映ってしまう為、非表示に。
    visibility: hidden;

    &.slick-initialized { // slick.jsが読み込まれ、スライダーの準備ができた状態になると、スライダー要素に付与されるクラス名。準備ができた状態でslick-areaクラスを表示する事によりリロード時、縦長だった画像が映らなくなる。
      visibility: visible;
    }

    div {
      padding: 0 30px; // スリック画像同士の間隔

      img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }
  }
}

/* -------------------------------------------------
Feature
--------------------------------------------------*/
#feature {
  max-width: 1240px;
  padding: 100px 16px 50px;
  margin: -50px auto 10px; 

  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .item {
      box-shadow: 0 0 8px 4px #ccc;

      img {
        vertical-align: top;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }

      .item-content {
        padding: 30px;

        .item-cat {
          font-size: 0.75rem;
          margin-bottom: 20px;
        }
  
        .item-text {
          font-size: 0.9rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .item-date {
          font-size: 0.75rem;
          text-align: right;
        }

      }
    }
  }
}

/* -------------------------------------------------
Contact
--------------------------------------------------*/
#contact {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;

  .sec-title {
    color: #fff;
  }

  .content {
    max-width: 1240px;
    display: flex;
    padding: 0 16px;
    margin: 0 auto;
    justify-content: space-between;

    .contact-info,
    .contact-form {
      width: 45%;

      p {
        margin-bottom: 30px;
      }
    }
  }

    .contact-form input,
    .contact-form textarea {
      width: 100%;
      color: #121212;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;

    }
    
    label {
      cursor: default;
    }

    .contact-form .button input {
      width: 200px;
      color: #fff;
      background-color: #121212;
      border: 1px solid #fff;
      padding: 12px 0;
      margin-bottom: 0;
      text-align: center;

      &:hover {
        background-color: #fff;
        color: #202020;
      }
    }
}

/* -------------------------------------------------
Footter
--------------------------------------------------*/
#footer {
  width: 100%;
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}


/* -------------------------------------------------
SP
--------------------------------------------------*/
@media screen and (max-width: 600px) {
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }


  /* -------------------------------------------------
  ヘッダー
  --------------------------------------------------*/
  #header {
    padding: 20px 16px;  /* PC表示は padding: 20px 40px; */ /* ⇨ 効いてない */
  }
  .hamburger-menu {
    right: 20px;   /* PC表示は right: 45px; *//* ⇨ 効いてない */
  }

  /* -------------------------------------------------
  Video
  --------------------------------------------------*/
  .bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  /* -------------------------------------------------
  Pick Up
  --------------------------------------------------*/
  #pickup {
    padding: 80px 0;

    .slick-area div {
      padding: 0 20px;
    }
  }

  /* -------------------------------------------------
  Feature
  --------------------------------------------------*/
  #feature {
    padding: 80px 16px; /* PC表示は padding: 100px 16px 50px; */ /* ⇨ 効いてない */
  }
  #feature .grid .item .item-content {
    padding: 16px; /* PC表示は padding: 30px; */
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact {
    padding: 80px 0;  /* PC表示は padding: 50px 0; */

    .content {
      flex-direction: column;

      .contact-info {
        width: 100%;
      }
      .contact-form {
        width: 100%;
      }

      .contact-form .button input {
        width: 100%;
      }
    }
  }
}